html {
    scroll-behavior: smooth;
}

body {
    background-color: #312B4F;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #312B4F;

}

.vertical {
    margin-top: 50%;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-nav {
    font-weight: 300;
}

.nav-item {
    margin-right: 45px;
}

.tron {
    background-color: #312B4F;
    height: 768px;
}

.nama {
    font-weight: 700;
    color: white;
}

.nama span {
    color: #E30845;
}

.identitas .job h5 {
    font-weight: 200;
    color: white;
    opacity: 0.4;
}

.about {
    height: 768px;
    background-color: #312B4F;
}


.kotak {
    width: 240px;
    height: 340px;
    background-color: #E30845;
}

.about h3 {
    color: white;
    font-weight: 700;
}

.aboutkanan .pilihan {
    display: inline-block;
}

.aboutkanan h4 {
    font-weight: 300;
    color: white;
    opacity: 0.4;
}

.aboutkanan h4:hover {
    cursor: pointer;
    text-shadow: 0 0 8px #E30845;
}

ul.pilihan li a {
    text-decoration: none !important;

}

ul.pilihan {
    text-decoration: none;
}


/* overlay */
.navbar {
    z-index: 600;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;

    width: 0;
    height: 0;
    overflow: hidden;
}


.overlay:target {
    padding: 100px;
    display: block;
    transition: 0.6s;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay:target img {
    box-shadow: 0 0 20px #E30845;
    border-radius: 8px;
    animation: zoomDanFade 0.6s;
}

.overlay a {
    margin: 10px;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 8px #E30845;

}

.overlay a:hover {}

.overlay:target h5 {
    color: white;
    margin-top: 50px;
    text-shadow: 0 0 20px #E30845;
}

.foto {
    height: 120px;
    width: 120px;

    left: 0;

}

.foto img {
    padding: 10px;
}


.java {
    position: relative;
}


.progress {
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    background-color: rgb(95, 95, 95);
}

.progress-bar {
    background-color: #E30845;
}

.skills {
    height: 768px;
}

@media only screen and (max-width: 600px) {
    .about {
        height: 400px;
    }

    .aboutkiri {
        height: 10px;
    }
}


/* animasi */

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}