body {
	text-align: center;

}

input:disabled {
	background-color: lightgreen;
}



table {
	text-align: center;
	height: 360px;
	width: 360px;
}

td {
	width: 40px;
	height: 40px;
}

td input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.letterData {
	border: 2px solid #000;
}

.block {
	background-color: #000;
}